@model firstApp.Models.Datos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Datos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.empresaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
